@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
    transition: all .2s;
    text-decoration: none;
}

:root {
    --button-text-color: #151D26 ;
    --button-bg-color: #ffa700; 
}
  
html {
    scroll-behavior: smooth;
}

body {
    /* background: url(../img/background.png) center; */
    background: #222325;
    margin-bottom: 3rem;
}

::-webkit-scrollbar-track {
    background: var(--button-text-color);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--button-bg-color);
    border-radius: 30px;
}

h1 {
    color: #fff
}

.product-card {
    padding: 1rem;
    margin: 1rem;
    background: #e2e2e2;
    border: 1px solid #6f6f6f;
    border-radius: 15px;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 2.5rem;
    height: 7rem;
    padding: 0 3rem;
    justify-content: space-between;
}
.nav-logo {
    color: #ffff;
    font-weight: 800;
}

.nav-logo img {
    width: 8rem;
}

.nav-btn {
    color: #ababab;
    border: 1.5px solid #515151;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    background: transparent;
    border-radius: 25px;
}
.nav-btn:not(:last-child) {
    margin-right: .5rem
}
.nav-btn:hover {
    text-decoration: none;
}
.nav-btn:hover:not(.nav-active) {
    opacity: .6;
    color: #667777;
}
.nav-active {
    color: var(--button-text-color) !important;
    background: var(--button-bg-color) !important;
    border: none;
}
.nav-user {
    display: flex;
    align-items: center;
}
.nav-user span {
    color: #C2C2C2;
    margin-right: .5rem
}
.user-avatar {
    width: 30px;
    height: 30px;
    background: #C2C2C2;
    border-radius: 25px
}

/* INFO BOX */

.primary-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 6rem 3rem 6rem;
}

.primary-info .info-container {
    backdrop-filter: blur(5px);
    border: none;
    background: linear-gradient(90deg, #18b35712, #18b3572b);
    display: flex;
    flex-direction: row;
    width: 26%;
    padding: 1.8rem;
    border-radius: 25px;
    margin-right: 0;
    justify-content: space-between;
}

.primary-info .info-container:last-child {
    margin-right: 0;
}

.label-box {
    display: flex;
    color: #aeafb2;
    font-size: 11pt;
    flex-direction: column;
    font-weight: 500;
}

.label-box span {
    color: #e0e1e2;
    background: #18b3571c;
    border-radius: 11px;
    padding: 6px;
    width: 1.56rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(314deg, #18b35700, #18b35717);
    width: 8rem;
    height: 8rem;
    border-radius: 1.8rem;
    border: 2px solid #18b3572e;
    font-size: 22pt;
    color: #fff;
    font-weight: 600;
}

/* CHARTS */

.info {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}
.info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
    border: 1px solid #383838;
    margin-right: 3rem;
    border-radius: 20px;
}
.charts-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 15rem;
    padding: 1rem 2rem 0rem 2rem;
    backdrop-filter: blur(5px);
    border: 1px solid #383838;
    border-radius: 20px;
}

h4 {
    font-size: 14pt;
    font-weight: 500;
    color: #EDEDED;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
}
.charts {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.chart-01 {
    display: flex;
    flex-direction: column;
    width: 100%
}

.bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.bar-item {
    display: flex;
    align-items: center;
}
.label {
    font-size: 11pt;
    color: #BCBEC2;
    width: 100px;
    margin-bottom: 0.2rem;
}
.bar-item .label {
    color: #EDEDED;
}
.bar-fill {
    width: 0;
    height: 15px;
    background-color: blue;
    border-radius: 0 20px 20px 0;
    margin-right: 0.5rem;
}

.chart-02 {
    transform: translateY(-1rem);
}

/* Charts empty */

.chart-01.chart-empty {
    width: 47% !important;
}

.chart-empty {
    opacity: .6;
}

.chart-empty .label {
    width: 4rem;
    height: 0.8rem;
    background: #3e3f41;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.chart-empty .bar {
    margin-bottom: 20px;
}

.chart-empty .bar-fill {
    width: 7rem;
    height: 15px;
    background-color: #3e3f41;
    border-radius: 20px;
    margin-right: 0.5rem;
}


.chart-empty.chart-02 {
    width: 13rem;
    height: 13rem;
    border-radius: 10rem;
    background: #222931;
    transform: translate(3.5rem, -2.5rem);
} 

/* TABLE */

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem;
}

.main-btn {
    display: flex;
    align-items: center;
    color: var(--button-text-color);
    font-weight: 600;
    background: var(--button-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
}

.main-btn.trash {
    width: 110px !important;
}

.main-btns {
    display: flex;
}

.main-btn:hover {
    opacity: .6;
    cursor: pointer;
}

.table-container {
    display: flex;
    align-items: center;
    margin: 0 6rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}

th:first-child {
    border-radius: 20px 0 0;
}

th:last-child {
    text-align: center;
    border-radius: 0 20px 0 0;
}

tbody tr:hover {
    background: #3d3d3d52;
}

tbody tr:hover td .danger {
    animation: none;
}

th,
td {
	padding: 15px;
    color: #FFF;
}

.product-item {
    display: flex;
    align-items: center;
}

tbody tr {
    backdrop-filter: blur(5px); 
    box-shadow: inset 0 0 0 1px #ffffff0d;
}


td:nth-child(7){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-left: solid 1px #ffffff0d;
}

/* td {
    border-top: solid 1px #232b35;
    border-bottom: solid 1px #232b35;
}

td:last-child {
    border-right: solid 1px #232b35;
}

td:first-child {
    border-left: solid 1px #232b35;
} */


td img {
    border-radius: 17px;
    background: #fff;
    width: 3rem;
    height: 3rem;
    margin-right: 0.8rem;
}

td a {
color: #c2c2c282;
}

td a:hover {
    opacity: .7;
}

td .validity-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

th {
    color: #c2c2c282;
	text-align: left;
    background: #ffffff0d;
    backdrop-filter: blur(5px);
    font-weight: 400;
}

td .danger {
    animation: pulse-danger 1.5s infinite;
}

@keyframes pulse-danger {
    0% {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
    50% {
        text-shadow:  0 0 10px rgb(255 67 67 / 51%), 0 0 20px rgb(255 67 67 / 51%), 0 0 40px rgb(255 31 31);
    }
    100% {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
}

.empty-product {
    display: flex;
    margin-top: 2rem;
    color: #c2c2c282;
    justify-content: center;
}

/* validity */

.validity-card img {
    border-radius: 50px;
    background: #fff;
    width: 2rem;
    height: 2rem;
    /* margin-right: 0.8rem; */
    filter: grayscale(1);
}

.validity-card .product-item {
    margin-bottom: 1rem;
    justify-content: space-between;
}

.validity-card:nth-child(3) {
    opacity: .5;
}
.validity-card:nth-child(4) {
    opacity: .2;
}

.image-container {
    display: flex;
    border: 2px solid #464646;
    border-radius: 50px;
    overflow: hidden; 
    padding: 3px;
    margin-right: 0.5rem;
}

.success {
    color: #34d65c !important;
    border-color: #34d65c !important;
}

.warning {
    color: #ffa700 !important;
    border-color: #ffa700 !important;
}

.danger {
    color: #ff3434 !important;
    border-color: #ff3434 !important;
}

.validity-label {
    display: flex;
    align-items: center;
}

.validity-label {
    color: #fff;
}

.validity-label p {
    margin: 0;
    font-size: 10pt;
    color: #BCBEC2;
}

.validity-status {
    color: #ff3434;
    border: 1px solid #ff3434;
    border-radius: 1rem;
    padding: 0.4rem 1.2rem;
}

/* Hidden Card  */

.hidden-empty.product-item {
    opacity: .2;
}

.hidden-empty .img {
    border-radius: 50px;
    background: #3e3f41;
    width: 2rem;
    height: 2rem;
    filter: grayscale(1);
}

.hidden-empty p:nth-child(1) {
    width: 6rem;
    height: .8rem;
    background: #3e3f41;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.hidden-empty p:nth-child(2) {
    width: 4rem;
    height: .5rem;
    background: #3e3f41;
    border-radius: 1rem;
}

.hidden-empty .validity-status {
    color: #3e3f41;
    border-color: #3e3f41;
    height: .6rem;
    width: 4rem;
    background: #3e3f41;
}

.hidden-empty .image-container {
    border: none;
}

  /* menu add */
.add-section {
    display: flex;
    margin: 0 4.5rem;
    justify-content: center;
}

.add-container {
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 2rem;
    background: #31313147;
    border: 1px solid #2b2b2b;
    backdrop-filter: blur(16px);
    margin: 0 1.5rem;
    border-radius: 20px;
}

.add-container .main-btn {
    width: 102px;
}

.add-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.add-label h1 {
    font-size: 20pt;
    margin: 0;
}
.add-label span {
    color: #fff;
}

.add-label span:hover {
    cursor: pointer;
}

/* .add-container.upload-logo {
    width: 30%;
} */

.add-row {
    display: flex;
    justify-content: space-between;
}

.add-field {
    display: flex;
    flex-direction: column;
}

.add-field:not(:last-child) {
    margin-bottom: 1rem;
}

.add-field label {
    font-size: 11pt;
    color: #FFF;
    margin-bottom: .4rem;
}

input {
    color: #797979;
    background: transparent;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    padding: 0.5rem;
}

input[type="text"]:hover {
    cursor: text;
}

input[type="date"]:hover, input[type="file"]:hover, select:hover {
    cursor: pointer;
}


input::placeholder {
    color: #797979;
}

input:focus-visible {
    border: solid 1px #3d3d3d;
    outline: none;
}

select {
    color: #797979;
    background: transparent;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    padding: .5rem;
}

option {
    color: #797979;
    background: transparent;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    padding: .5rem;
}
input[type="date"] {
    padding: .35rem;
}
::-webkit-calendar-picker-indicator{
    color: #c2c2c282;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}


.add-modal {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(16 16 16 / 58%);
    box-sizing: border-box;
    z-index: 100;
}